/* color */
:root {
    --white: #F5F7F8;
    --black: #45474B;
    --yellow: #F4CE14;
    --green: #495E57;
}

/* code */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--white);
}

/* mode */
.mode{
    position: absolute;
    top: 10px;
    right: 10px;
}

.mode button{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    color: var(--white);
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px var(--green);
    cursor: pointer;
}

.mode button span{
    font-size: 25px;
}